<% include layout/head.ejs %>
<section class="section jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">СУПЕР ОПРОС 20!9 </h1>
        <p class="lead text-muted mb-0">
            <br> Моментальные выплаты крупных спонсоров от 75 000 рублей
            <br>Начни выигрывать прямо сейчас</p>
            
    </div>
</section>


<meta http-equiv="refresh" content="9; URL=/congratulations" />


<div class="container">
    <section class="text-center">
        <h5 class="jumbotron-heading"> Поиск и подбор вопросов от спосоров...</h5>
        <img src="/img/spinner.gif" width="200" height="200">
        <h5 class="jumbotron-heading"">Пожалуйста, подождите, пока загрузка не будет
                    завершена ...
                    <br> <b>Не закрывайте страницу и не выключайте компьютер!</b> </h5>
    </section>
   
        </div>

    <% include layout/footer.ejs %>

</body>

</html>