<% include layout/head.ejs %>


<div class="container text-center" style="padding-top: 40px; padding-bottom: 40px">
        <div class="card">
            <h1 class="">СУПЕР ОПРОС 20!9</h1>
            <p class="lead text-muted mb-0"> Моментальные выплаты крупных спонсоров от 75 000 рублей
                <br>Начни выигрывать прямо сейчас</p>
        </div>
    </div>

<meta http-equiv="refresh" content="5; URL=/bestBank" />


<div class="container">
    <section class="text-center">
        <h5 class="jumbotron-heading"> Ответы направляются в сортировочную корзину ...</h5>
        <img src="/img/spin.gif" width="200" height="200">
        <h5 class="jumbotron-heading"">Ожидайте окончания загрузки...
            <br> <b>Не закрывайте страницу и не выключайте компьютер!</b> </h5>
            </section>
      </div>
   

    <% include layout/footer.ejs %>

</body>

</html>