<% include layout/head.ejs %>


<div class="container text-center" style="padding-top: 40px; padding-bottom: 40px">
        <div class="card night-fade-gradient">
            <h3>СУПЕР ОПРОС 20!9</h3>
            <p class="lead text-muted mb-0"> Моментальные выплаты крупных спонсоров от 75 000 рублей
                <br>Начни выигрывать прямо сейчас</p>
        </div>
    </div>

    <div class="container">
        <section class="text-center">
            <div class="card lady-lips-gradient">
                <div class="card-header">
                    <h2 class="jumbotron-heading text-uppercase" style="padding-top: 10px; padding-bottom: 10px"><b>КАКУЮ СОЦ.СЕТЬ ВЫ ИСПОЛЬЗУЕТЕ ЧАЩЕ ВСЕГО?</b></h2>
                </div>
                <div class="card-body">
                    <form action="/sendAnswers">
                        <div class="container">
                            <button type="submit" class="btn aqua-gradient btn-lg" style="width: 350px" href="/sendAnswers">VKONTAKTE</button>
                            <button type="submit" class="btn aqua-gradient btn-lg" style="width: 350px" href="/sendAnswers">FACEBOOK</button>
                        </div>
                        <div class="container">
                            <button type="submit" class="btn aqua-gradient btn-lg"style="width: 350px"   href="/sendAnswers">ОДНОКЛАССНИКИ</button>
                            <button type="submit" class="btn aqua-gradient btn-lg"style="width: 350px"   href="/sendAnswers">ФОТОСТРАНА</button>
                        </div>
                    </form>
                </div>
        </section>
        </div>

    <br><br>

    </div>
    <section class="text-center">
        <button type="button" class="btn btn-light" style="color:rgb(34, 36, 37)">Чтобы ответить на вопрос, нажмите на желаемую кнопку.</button>
    </section>
    </div>
    <% include layout/footer.ejs %>

</body>

</html>